.alert {
  height: fit-content;
  width: 300px;
  border-radius: 4px;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 20px;
  gap: 0.2rem;
  display: flex;

  .top {
    display: flex;
    justify-content: space-between;

    svg {
      cursor: pointer;
    }
  }
}