.alert {
  height: fit-content;
  width: 300px;
  border-radius: 4px;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 20px;
  gap: 0.2rem;
  display: flex;
  animation: fade 15s ease-in-out;
  z-index: 3;

  .top {
    display: flex;
    justify-content: space-between;

    p {
      cursor: pointer;
    }
  }
}

@keyframes fade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}