.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 40px;

  &::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ddd;
  }

  .expandButton {
    background: none;
    border: none;
    width: fit-content;
    color: #fff;
  }
}
