.profile {
  display: flex;
  flex-direction: column;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
  width: auto;
  padding: 2rem;

  .name {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid #171717;

    &:hover {
      border-bottom: 1px solid #ffffff;
    }
  }
}

.nameRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .socials {
    display: flex;
    align-items: center;
    span {
      cursor: pointer;
    }
  }
}

.location {
  display: flex;
  color: #777;
}

.intro {
  margin-top: 1.5rem;
}